.home-login {
  @apply bg-slate-900 float-right;
}
.h1-account {
  @apply text-4xl;
}
.issue-licence-h1 {
  @apply mx-[445px] mt-2 text-4xl font-extrabold;
}
.form-signin{
  @apply m-auto
}
.form {
  @apply w-5/12 border-gray-600 border-[1px] pt-2 pb-20  mt-20;
}

.form input {
  @apply w-11/12 mt-2 mb-2 ml-7 py-[11px] border-gray-600 rounded border-[2px]
  focus:outline-none focus:border-[2px] focus:border-blue-600  
  hover:bg-slate-200 font-semibold pl-3 inline-block
}
.form label {
  @apply font-semibold py-2 ;
}
.form select {
  @apply w-11/12 mt-2 ml-7 py-[11px] border-gray-600 rounded border-[2px]
  focus:outline-none focus:border-[2px] focus:border-blue-600 
  hover:bg-slate-200 disabled:cursor-not-allowed font-semibold hover:cursor-pointer;
}
.form-link {
  @apply underline text-blue-600 visited:text-purple-400 visited:inline-block hover:text-blue-700 ml-10 pb-40;
}
.page-link {
  @apply underline text-blue-600 visited:text-purple-400 visited:inline-block hover:text-blue-700 ;
}
h2 {
  @apply text-4xl font-sans mb-10 mt-5 ml-7 font-bold;
}
.btn {
  @apply rounded w-4/12 py-2 text-white font-semibold;
}
.form-btn-red {
  @apply btn bg-red-700 hover:bg-red-500 ml-28;
}
.form-btn-blue {
  @apply btn bg-blue-700 hover:bg-blue-500 mb-5 ml-4;
}
.form-btn-blue-search {
  @apply btn bg-blue-700 hover:bg-blue-500 mt-7 flex-auto ml-48;
}
.log-btn-red {
  @apply btn bg-red-700 hover:bg-red-500;
}
.hours-btn {
  @apply rounded  py-2 text-white font-semibold;
}
.hours-btn-red {
  @apply hours-btn bg-red-700 hover:bg-red-500 w-[200px];
}
.hours-btn-blue {
  @apply hours-btn bg-blue-700 hover:bg-blue-500 mb-10 w-1/2;
}
.hours-btn-yellow {
  @apply hours-btn bg-yellow-500 hover:bg-yellow-400 mb-10 w-1/2;
}
.form-btn-yellow {
  @apply rounded py-2 text-white font-semibold bg-yellow-500 hover:bg-yellow-400 mb-10 w-full;
}
.form-loghours {
  @apply form;
}
.form-loghours input {
  @apply text-center;
}
.form-logbook{
  @apply w-6/12 border-gray-600 border-[1px] pt-2 pb-20  mt-20
}
.home-bar {
  @apply w-screen float-right py-3 pr-96 bg-slate-800;
}
.home-link {
  @apply float-right bg-slate-800 text-white text-base font-semibold;
}
.admin-link {
  @apply float-right font-bold text-white;
}
.userinfo-btn-red {
  @apply bg-red-600 rounded text-white text-lg px-16 py-2;
}
.userinfo-btn-blue {
  @apply hover:bg-gray-100 rounded shadow text-white text-lg px-16 py-2 px-8 border border-blue-900 text-blue-900 bg-white font-semibold;
}
.user-h {
  @apply text-4xl font-bold font-sans mt-16;
}
.table-h {
  @apply text-4xl font-bold font-sans mt-2;
}
.user-p {
  @apply text-xl font-semibold mb-7;
}
.h-lnk {
  @apply inline-block mt-6 mx-2 font-semibold hover:border-b-[5px] w-fit border-blue-800 active:border-[2px] active:border-collapse dark:text-black dark:border-blue-800;
}
.ticket-table thead tr {
  @apply bg-blue-500 text-white;
}
.ticket-table th {
  @apply px-3 py-2 font-semibold;
}

.ticket-table tbody tr {
  @apply bg-blue-100 text-center;
}

.ticket-table tbody tr:nth-child(even) {
  @apply bg-blue-200;
}

.ticket-table tbody tr:hover {
  @apply bg-blue-300;
}

.ticket-table tbody td {
  @apply px-3 py-1;
}
.bar{
  @apply w-6/12 ml-32

}

label{
  min-width: 125px;
  display: inline-block;
  text-align: right;
  margin: 5px 5px;
  font-weight: bold;
}

input{
  border-radius: 2.5px;
  padding: 5px;
  border-color: rgba(255, 0, 0,0.5);
  border-width: 0.5px;
}

button{
  background-color: rgb(0, 98, 255);
  color: white;
  border-width: 1px;
  padding: 5px;
  cursor: pointer;
  text-align: center;
}

.form-container{
  display: inline-block;
  margin: auto;
}
.tile{
  border:1px solid #000;
  text-align: center;
  width:550px;
  padding:10px;
  background-color: rgb(245, 241, 241);
  color: rgb(75, 7, 7);
}
.tile2{
  border:1px solid #000;
  text-align: center;
  width:598px;
  font-size: large;
  font-style: italic;
 
  
  background-color: rgb(245, 241, 241);
  color: rgb(7, 2, 2);
}
 .pointer{
  cursor: pointer;
 }

 .user-info{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
 }
 .login-input{
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: flex-start;
  align-self: auto;
 }

 .user-info > p {
  color: rgb(10, 10, 10);
  font-weight: bolder;
 }

 .link {
    background-color: rgba(255, 0, 0, 0.87);
    color:#fff;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
 }

.alt-link {
  background-color: #fff;
  color:red;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

/* a:visited {
  color: rgb(194, 152, 224);
  background-color: transparent;
  text-decoration: none;
} */

a:hover {
  color: rgb(10, 9, 9);
  background-color: transparent;
}

a:active {
  color: black;
  background-color: transparent;
  border: 0.5px;
  border-style: solid;
  border-width: 0pc;
  
}
