.home-login {
  @apply bg-slate-900 float-right;
}
.h1-account {
  @apply text-4xl;
}
.issue-licence-h1 {
  @apply mx-[445px] mt-2 text-4xl font-extrabold;
}
.form-signin {
  @apply m-auto;
}
.form {
  @apply w-5/12 border-gray-600 border-[1px] pt-5 pb-10  mt-20;
}

.form input {
  @apply w-11/12 mt-2 mb-2 ml-7 py-[11px] border-gray-600 rounded border-[2px]
  focus:outline-none focus:border-[2px] focus:border-blue-600  
  hover:bg-slate-200 font-semibold pl-3 inline-block;
}
.form label {
  @apply font-semibold py-2;
}
.form select {
  @apply w-11/12 mt-2 ml-7 py-[11px] border-gray-600 rounded border-[2px]
  focus:outline-none focus:border-[2px] focus:border-blue-600 
  hover:bg-slate-200 disabled:cursor-not-allowed font-semibold hover:cursor-pointer;
}
.form-link {
  @apply underline text-blue-600 visited:text-purple-400 visited:inline-block hover:text-blue-700 ml-10 pb-40;
}
.page-link {
  @apply underline text-blue-600 visited:text-purple-400 visited:inline-block hover:text-blue-700;
}
h2 {
  @apply text-4xl font-sans mb-10 mt-5 ml-7 font-bold;
}
.btn {
  @apply rounded w-4/12 py-2 text-white font-semibold;
}
.form-btn-red {
  @apply btn bg-red-700 hover:bg-red-500 ml-28;
}
.form-btn-blue {
  @apply btn bg-blue-700 hover:bg-blue-500 mb-5 ml-4;
}
.form-btn-blue-search {
  @apply btn bg-blue-700 hover:bg-blue-500 mt-7 flex-auto ml-48;
}
.log-btn-red {
  @apply btn bg-red-700 hover:bg-red-500;
}
.log-btn-blue {
  @apply btn bg-blue-700 hover:bg-blue-500;
}
.hours-btn {
  @apply rounded  py-2 text-white font-semibold;
}
.hours-btn-red {
  @apply hours-btn bg-red-700 hover:bg-red-500 w-[200px];
}
.hours-btn-blue {
  @apply hours-btn bg-blue-700 hover:bg-blue-500 mb-10 w-1/2;
}
.hours-btn-yellow {
  @apply hours-btn bg-yellow-500 hover:bg-yellow-400 mb-10 w-1/2;
}
.form-btn-yellow {
  @apply rounded py-2 text-white font-semibold bg-yellow-500 hover:bg-yellow-400 mb-10 w-full;
}

.home-bar {
  @apply w-screen float-right py-3 pr-96 bg-slate-800;
}
.home-link {
  @apply float-right bg-slate-800 text-white text-base font-semibold;
}
.admin-link {
  @apply float-right font-bold text-white;
}
.userinfo-btn-red {
  @apply bg-red-600 rounded text-white text-lg px-16 py-2;
}
.userinfo-btn-blue {
  @apply hover:bg-gray-100 rounded shadow text-white text-lg px-16 py-2 px-8 border border-blue-900 text-blue-900 bg-white font-semibold;
}
.user-h {
  @apply text-4xl font-bold font-sans mt-16;
}
.table-h {
  @apply text-4xl font-bold font-sans mt-2;
}
.user-p {
  @apply text-xl font-semibold mb-7;
}
.h-lnk {
  @apply inline-block mt-6 mx-2 font-semibold hover:border-b-[5px] w-fit border-blue-800 active:border-[2px] active:border-collapse dark:text-black dark:border-blue-800;
}
.side-link{
  @apply inline-block mt-6 mx-2 font-semibold dark:text-black;
}
.ticket-table thead tr {
  @apply bg-blue-500 text-white;
}
.ticket-table th {
  @apply px-3 py-2 font-semibold;
}

.ticket-table tbody tr {
  @apply bg-blue-100 text-center;
}

.ticket-table tbody tr:nth-child(even) {
  @apply bg-blue-200;
}

.ticket-table tbody tr:hover {
  @apply bg-blue-300;
}

.ticket-table tbody td {
  @apply px-3 py-1;
}


/* Footer */

footer{
  @apply flex w-full left-0 bottom-0 right-0 flex-col
}
footer a {
  @apply hover:underline active:border-[2px] mb-2 active:border-white w-fit;
}
.footer-heading {
  @apply pb-4 font-semibold;
}
.foter-heading-rows {
  @apply flex flex-col
}
.footer-acknowledgment {
  @apply  pl-64 py-5 pr-[25%]
}
.footer-acknowledgment {
  background-color: rgb(222,227,229);
}
.footer-ackn-heading {
  @apply font-semibold mb-5
}
.footer-services{
  @apply pl-[4.5%] py-10 text-white pr-[10%] text-[17px] 
}
.footer-services{
  background-color: rgb(100, 105, 116)
}
.footer-links {
  @apply pl-[10.5%] pr-[20%] py-5 text-white text-[14.5px] font-semibold
}
.footer-links {
  background-color: rgb(36,41,52)
}
.footer-social{
  @apply mt-5 flex flex-row space-x-5
}
html,
body {
  height: 100vh;
  position: relative;
}

* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

/* Header */
header {
  @apply ml-64;
}

/* Section */
section {
  @apply ml-72 mt-24 mb-[350px];
}

/* Customer Search */
.customer-search {
  @apply ml-72 mt-5 border-[4px] border-collapse w-fit p-5
}
.customer-search-box {
  @apply my-5 py-5 border-[2px] border-slate-400 bg-slate-100
}
.customer-search-box label {
  @apply text-lg text-left font-semibold ml-7
}
.customer-search-box input {
  @apply border-black active:border-blue-400 active:bg-blue-200 ml-3
}
.customer-search button {
  @apply mr-5
}
.customer-search-text {
  @apply text-center text-xl font-semibold text-red-600
}
.customer-search-result {
  @apply tile pointer hover:bg-yellow-100 bg-slate-100 text-lg font-semibold text-left flex justify-center
}

/* Customer Services */

/* No Licence */
.customer-services-no-licence{
  @apply border-[3px] border-red-500 w-fit ml-72 p-10 mt-20
}
.customer-services-no-licence img {
  @apply w-[100px] m-auto
}
.customer-services-no-licence p{
  @apply text-center font-semibold text-red-500 mb-3 
}
.customer-services-no-licence-body{
  @apply text-center text-2xl mb-16 mt-10
}
.customer-services-no-licence-box{
  @apply mt-7 text-center text-2xl font-semibold border-[2px] pt-2 py-3 hover:bg-slate-100 bg-slate-200
}

/* Yes Licence */
/* Customer Profile */
.customer-service-licence {
  @apply tile ml-72 text-2xl font-semibold text-center border-[550px] p-[10px] flex flex-col justify-evenly
}
.customer-service-licence-profile{
  @apply border-[3px] border-yellow-300 border-dotted mx-5 my-10
}
.customer-service-licence-profile img {
  @apply ml-[90px] mb-5 w-[300px]
}
.customer-service-licence-profile p {
  @apply text-center font-semibold text-2xl
}
/* Remaining Hours */
.total-remaining-hours h4{
  @apply mt-5 font-bold mb-3
}
.total-remaining-hours-box{
  @apply border-[3px] w-fit m-auto border-dotted border-black text-center py-1 px-4
}
/* Progress Bars */
.progress-bar {
  @apply flex flex-row justify-evenly mt-10
}
.progress-bar-day{
  @apply text-yellow-500
}
.progress-bar-night{
  @apply text-blue-500
}
.bar {
    @apply w-60 mt-10;
  }
/* Buttons */
.customer-service-licence button{
  @apply rounded-full my-10 w-6/12 py-3 text-center 
}
.buttons{
  @apply flex flex-row mx-5 justify-evenly
}
.customer-service-blue-btn {
  @apply bg-blue-600 hover:bg-blue-500
}
.customer-service-yellow-btn {
  @apply bg-yellow-600 hover:bg-yellow-400
}

/* Log Entry */
.log-entry-box {
  @apply bg-blue-200 italic text-center w-[598px] text-lg border-[1px] border-black
}
.log-entry-box-top{
  @apply border-[3px] border-black mt-5 mx-9 my-3 pb-4 bg-blue-100
}
.log-entry-box-top-content{
  @apply flex flex-row justify-evenly mt-5 mb-3
}
.log-entry-box-top-total {
  @apply border-[3px] border-green-600 border-dotted mx-28
}
.log-entry-content{
  @apply flex flex-row justify-evenly mt-5
}
.log-entry-content label{
  @apply text-blue-600
}
.log-entry-bonus {
  @apply text-2xl border-[3px] border-yellow-500 border-dotted mx-16 bg-yellow-100 py-3 mt-4
}
.log-entry-bonus p {
  @apply font-bold
}

/* Log Forms */
.form-loghours {
  @apply form;
}
.form-loghours h2{
  @apply text-center border-[1px] mr-6 py-6 border-black bg-gray-200
}
.form-loghours input {
  @apply text-center;
}
.form-loghours-day-night {
  @apply flex justify-evenly mt-5 w-fit ml-[90px] mb-10
}
.form-loghours-day-night p{
  @apply mt-5 font-semibold text-lg text-center
}
.form-logbook {
  @apply w-6/12 border-gray-600 border-[1px] pt-2 pb-20  mt-20;
}
/* Buttons */
.form-loghours button{
  @apply rounded-full w-6/12 py-3 text-center text-2xl font-bold
}
.form-loghours-buttons{
  @apply flex flex-row mx-5 justify-evenly
}
.form-loghours-red-btn {
  @apply hover:bg-red-500 bg-red-600
}
.form-loghours-yellow-btn {
  @apply hover:bg-blue-500 bg-blue-600
}

/* Login */

.login {
  @apply w-5/12 border-gray-600 border-[1px] pt-5 pb-10 mt-20 ml-72
}
.login h2 {
  @apply text-center
}
.login input {
  @apply w-11/12 mt-2 mb-2 ml-7 py-[11px] border-gray-600 rounded border-[2px]
  focus:outline-none focus:border-[2px] focus:border-blue-600  
  hover:bg-slate-200 font-semibold pl-3 ;
}
.login label {
  @apply font-semibold py-2 text-left ml-10;
}
.login-link {
  @apply underline text-blue-600 visited:text-purple-400 visited:inline-block hover:text-blue-600 ml-10
}
/* Buttons */
.login button{
  @apply rounded-full w-5/12 py-3 text-center text-xl font-bold mt-10 mb-5
}
.login-buttons{
  @apply flex flex-row mx-5 justify-evenly
}
.login-buttons-red {
  @apply hover:bg-red-500 bg-red-600
}
.login-buttons-blue {
  @apply hover:bg-blue-500 bg-blue-600
}

/* Register */
.register {
  @apply w-5/12 border-gray-600 border-[1px] pt-5 pb-10  mt-20;
}
.register h2 {
  @apply text-center
}
.register input {
  @apply w-11/12 mt-2 mb-2 ml-7 py-[11px] border-gray-600 rounded border-[2px]
  focus:outline-none focus:border-[2px] focus:border-blue-600  
  hover:bg-slate-200 font-semibold pl-3 ;
}
.register label {
  @apply font-semibold py-2 text-left ml-10;
}
.register select {
  @apply w-11/12 mt-2 ml-7 py-[11px] border-gray-600 rounded border-[2px]
  focus:outline-none focus:border-[2px] focus:border-blue-600 
  hover:bg-slate-200 disabled:cursor-not-allowed font-semibold hover:cursor-pointer;
}
.register-link {
  @apply underline text-blue-600 visited:text-purple-400 visited:inline-block hover:text-blue-600 ml-10
}
/* Buttons */
.register button{
  @apply rounded-full w-5/12 py-3 text-center text-xl font-bold mt-10 mb-10
}
.register-buttons{
  @apply flex flex-row mx-5 justify-evenly
}
.register-buttons-red {
  @apply hover:bg-red-500 bg-red-600
}
.register-buttons-blue {
  @apply hover:bg-blue-500 bg-blue-600
}

/* Main */
.main-links{
  @apply inline-block mt-6 mx-2 font-semibold hover:border-b-[5px] w-fit border-blue-800 active:border-[2px] active:border-collapse dark:text-black dark:border-blue-800;
}
.main-none-link{
  @apply mt-10 flex flex-row justify-start
}
.main-links-btn{
  @apply ml-[550px] text-center cursor-pointer inline-block
}
.main-links-btn button{
  @apply rounded-lg px-6 py-3 mt-2 text-white font-semibold
}
.main-none-link img{
  @apply cursor-pointer w-[200px]
}
.main-customer{
  @apply flex flex-row-reverse
}


label {
  min-width: 125px;
  display: inline-block;
  text-align: right;
  margin: 5px 5px;
  font-weight: bold;
}

input {
  border-radius: 2.5px;
  padding: 5px;
  border-color: rgba(255, 0, 0, 0.5);
  border-width: 0.5px;
}

/* button {
  background-color: rgb(0, 98, 255);
  color: white;
  border-width: 1px;
  padding: 5px;
  cursor: pointer;
  text-align: center;
} */

.form-container {
  display: inline-block;
  margin: auto;
}
.tile {
  border: 1px solid rgb(76, 77, 80);
  width: 550px;
  padding: 10px;
}

.pointer {
  cursor: pointer;
}

.user-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.login-input {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: flex-start;
  align-self: auto;
}

.user-info > p {
  color: rgb(10, 10, 10);
  font-weight: bolder;
}

.link {
  background-color: rgba(255, 0, 0, 0.87);
  color: #fff;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.home-btn {
  color: #fff;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.alt-link {
  background-color: #fff;
  color: red;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}



/* a:link {
  color: rgb(1, 1, 1);
  background-color: transparent;
  text-decoration: none;
} */

/* a:visited {
  color: rgb(194, 152, 224);
  background-color: transparent;
  text-decoration: none;
} */

/* a:hover {
  background-color: transparent;
}

a:active {
  color: black;
  background-color: transparent;
  border: 0.5px;
  border-style: solid;
  border-width: 0pc;
} */

